<footer class="footer">
    <div class="row  py-4 my-md-5 py-md-5 border-top bg-color text-color">
        <div class="col-12 col-md">
          <img class="mb-2" src="/assets/get-tourism-images/logo.jpg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">Copyright © 2019 GETZ Tourism online Booking Ltd.</small>
        </div>
        <div class="col-6 col-md">
          <h5>Location</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" >72, VOC St,</a></li>
            <li><a class="text-muted" >BR Puram,</a></li>
            <li><a class="text-muted" >Masakalipalayam</a></li>
            <li><a class="text-muted" >Argus Nagar,</a></li>
            <li><a class="text-muted" >Peelamedu</a></li>
            <li><a class="text-muted" >Coimbatore,</a></li>
            <li><a class="text-muted" >Tamil Nadu 641004</a></li>
            <li><a class="text-muted" >India</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contact</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" >Global  Trotterz Travel & Transportation</a></li>
            <li><a class="text-muted" >Email : getztoursm@gmail.com</a></li>
            <li><a class="text-muted" >Phone : +918754721217</a></li>
            <li><a class="text-muted" >Open at : Wenesdays 9:00am - 6:00pm</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
</footer>